<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<th:block th:fragment="logoutButton">

    <form th:action="@{/logout}" method="post" style="display: inline;">
        <button type="submit" class="navbar-btn">
            Sair
            <i class="bi bi-box-arrow-right"></i>
        </button>
    </form>

</th:block>

<th:block th:fragment="controlPanelButton">

    <a class="navbar-btn" style="padding: 10px" th:href="@{/admin}">
        Painel de Controle
        <i class="bi bi-building-fill-gear"></i>
    </a>

</th:block>

</body>
</html>