@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');


.login-container {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff5c3;
}

.login-button {

    background-color: #f8f9fa;
    border: solid 2px #ffe400;
    transition: 0.25s;
}

.login-button:hover {
    background-color: #ffe400;

}

.login-card {
    font-family: 'New Super Mario Font U', sans-serif;
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: white;
}
.logo {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
}