<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Usuários Cadastrados</title>
  <link rel="icon" href="/images/pizzariaMarioBros_ICON.svg">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body class="bg-light">

<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="fw-bold">Pedidos online (Delivery) 🍕</h1>
    <a th:href="@{/atendente/vendas}" class="btn btn-secondary">
      <i class="bi bi-arrow-left-circle"></i> Voltar
    </a>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover table-light">
      <thead class="table-warning text-center">
      <tr>
        <th>ID do usuário</th>
        <th>Nome do usuário</th>
        <th>Endereço do usuário</th>
        <th>Telefone do usuário</th>
        <th>E-mail do usuário</th>
        <th>Informações do pedido</th>
        <th>Status do pedido</th>
      </tr>
      </thead>
      <tbody th:if="${orders}" th:each="order : ${orders}">
      <tr>
        <td th:text="${order.clientId}">Id</td>
        <td th:text="${order.userOrderedName}">Nome</td>
        <td th:text="${order.userOrderedAddress}">Endereço completo</td>
        <td th:text="${order.userOrderedPhone}">(00) 00000-0000</td>
        <td th:text="${order.userOrderedEmail}">email@email.com</td>
        <td>
          <button
                  class="btn btn-primary"
                  type="button"
                  data-bs-toggle="collapse"
                  th:id="'seeOrderButton-' + ${order.orderId}"
                  th:attr="data-bs-target='#collapse-' + ${order.orderId}, aria-controls='collapse-' + ${order.orderId}"
                  aria-expanded="false"
                  >
            Ver pedido
          </button>

          <div th:id="'collapse-' + ${order.orderId}" class="collapse">

            <div class="border rounded p-3 mb-3">
              <p><strong>Data-hora do pedido:</strong> <span th:text="${#temporals.format(order.order.createdAt, 'dd/MM/yyyy HH:mm:ss')}"></span></p>
              <p><strong>Status:</strong> <span class="badge text-bg-primary" th:text="${order.order.status}"></span></p>

              <h6>Pizzas:</h6>
              <div class="d-flex flex-wrap text-center">
                <li  style="padding: 10px; gap: 5px; border: solid 2px black; border-radius: 20px" class="me-5 mb-3" th:each="item : ${order.order.productsInOrder}">
                  <img class="text-center" th:src="${item.productImageUrl}" style="width: 150px; height: 150px;">
                  <h5 th:text="${item.productName}"></h5>
                  <span th:text="${'Preço unitário: R$' + #numbers.formatDecimal(item.individualPrice, 1, 2, 'COMMA') + ' - '}"></span>

                  <span th:text="'Quantidade: ' + ${item.quantityOrdered}"></span>
                  <p th:text="${'Preço total da pizza: R$' + #numbers.formatDecimal(item.totalPrice, 1, 2, 'COMMA')}"></p>
                </li>
              </div>

              <p class="text-success header-text" style="font-size: 2rem"><strong>Total:</strong> R$<span th:text="${#numbers.formatDecimal(order.order.cartTotalPrice, 1, 2, 'COMMA')}"></span></p>
            </div>

          </div>

        </td>
        <td>
          <form th:action="@{/atendente/vendas/delivery/mudarStatus/{orderId}(orderId = ${order.orderId})}" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <select class="form-select" name="status" aria-label="Selecione status" onchange="this.form.submit()">
              <option selected disabled>Status do pedido</option>
              <option value="1">PEDIDO_RECEBIDO</option>
              <option value="2">PIZZA_SENDO_FEITA</option>
              <option value="3">DELIVERY_A_CAMINHO</option>
              <option value="4">DELIVERY_CONCLUIDO</option>
              <option value="5">DELIVERY_CANCELADO</option>
            </select>
          </form>

        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center text-muted mt-4" th:if="${#lists.isEmpty(orders)}">
    <h5>Nenhum pedido de delivery feito.</h5>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
