<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Perfil</title>
  <link rel="icon" href="/images/pizzariaMarioBros_ICON.svg">
  <link rel="stylesheet" href="/css/stylesheet.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>

<div class="container mt-5">
  <h1 class="mb-4 text-center">Perfil</h1>
  <a class="header-text text-danger" style="font-size: 2rem;" th:href="@{/}">Voltar <i class="bi bi-arrow-left-circle"></i></a>

  <!-- Informações Gerais -->
  <div class="card mb-4">
    <div class="card-header bg-primary text-white">
      Informações Gerais
    </div>
    <div class="card-body">
      <p><strong>Nome:</strong> <span th:text="${user.name}"></span></p>
      <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
      <p><strong>Telefone:</strong> <span th:text="${user.phone}"></span></p>
      <p><strong>Endereço:</strong> <span th:text="${user.address}"></span></p>
      <p><strong>CPF:</strong> <span th:text="${user.cpf}"></span></p>
    </div>
  </div>

  <!-- Pedidos -->
  <div class="card">
    <div class="card-header bg-success text-white">
      Pedidos Realizados
    </div>
    <div class="card-body">
      <div th:if="${#lists.isEmpty(orders)}">
        <p>Você ainda não realizou nenhum pedido.</p>
      </div>
      <div th:each="order : ${orders}">
        <div class="border rounded p-3 mb-3">
          <p><strong>Data-hora do pedido:</strong> <span th:text="${#temporals.format(order.createdAt, 'dd/MM/yyyy HH:mm:ss')}"></span></p>
          <p><strong>Status:</strong> <span class="badge text-bg-primary" th:text="${order.status}"></span></p>

          <h6>Pizzas:</h6>
          <div class="d-flex flex-wrap text-center">
            <li  style="padding: 10px; gap: 5px; border: solid 2px black; border-radius: 20px" class="me-5 mb-3" th:each="item : ${order.productsInOrder}">
              <img class="text-center" th:src="${item.productImageUrl}" style="width: 150px; height: 150px;">
              <h5 th:text="${item.productName}"></h5>
              <span th:text="${'Preço unitário: R$' + #numbers.formatDecimal(item.individualPrice, 1, 2, 'COMMA') + ' - '}"></span>

              <span th:text="'Quantidade: ' + ${item.quantityOrdered}"></span>
              <p th:text="${'Preço total da pizza: R$' + #numbers.formatDecimal(item.totalPrice, 1, 2, 'COMMA')}"></p>
            </li>
          </div>

          <p class="text-success header-text" style="font-size: 2rem"><strong>Total:</strong> R$<span th:text="${#numbers.formatDecimal(order.cartTotalPrice, 1, 2, 'COMMA')}"></span></p>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>
